body {
  font-family: Arial;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

#gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#gallery img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #444;
}

#uploadForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}